<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
           * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            position: relative;

        }

        li {
            list-style: none;
        }

        .main {
            border: 1px solid black;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            width: 80%;
        }

        .main ul {
            width: 100%;
            height: 600px;
        }

        .list {
            border: 1px solid black;
            height: 100px;
            width: 100%;
            display: flex;
            margin-top: 30px;
        }

        .list-img {
            width: 100px;
            height: 100px;
        }

        .list-game {
            width: 200px;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .list-text {
            text-align: center;
            width: 600px;
            height: 100px;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
        }

        .list-header {
            height: 20px;
            overflow: hidden;
        }

        .list-expl {
            height: 80;
            overflow: hidden;
        }

        .list-price {
            border: 1px solid black;
            width: 100px;
            text-align: center;
        }

        .list-date {
            width: 100px;
            border: 1px solid black;
            text-align: center;
        }

        .arrange {
            text-align: center;
        }

        .drop {
            width: 50px;
            cursor: pointer;
            font-size: 30px !important;
        }


        .alertDiv {
            width: 50%;
            position: absolute;
            top: 50px;
            left: 400px;
        }
    </style>
</head>
<body>
    

    
    <%- include('layout/header.ejs') %>

       

    
    <div class="main">

        <h3>Sattığım ürünler</h3>
        <ul class="main-ul">
            <% for(let i of products){%>
                <li class="list" id="<%= i._id %>">
                    <div>
                        <img class="list-img" src="/uploads/<%= i.img1 %>">
                    </div>
                    <div class="list-game">
                        <span class="list-gameName">Oyun:<%= i.gameName %></span>
                        <span class="list-gameCategory">Category:<%= i.gameCategory %></span>
                    </div>
                    <div class="list-text">
                        <span class="list-header">Header:<%= i.gameHeader %></span>
                        <span class="list-expl">Explanation:<%= i.gameExpl %> </span>
                    </div>
                    <div class="list-price">
                        <%= i.gamePrice %>$
                    </div>
                    <div class="list-date">
                        <%= i.createdAt %>
                    </div>
                    
                </li>
                <% }%>
        </ul>

    </div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


</body>
</html>